policy_path: "/your/export/ckpt/path"
input_seq_len: 400
xml_path: "./deploy/robots/h1_2/scene_21dof.xml"


# Total simulation time
simulation_duration: 8
# Simulation time step
simulation_dt: 0.002
# Controller update frequency (meets the requirement of simulation_dt * controll_decimation=0.02; 50Hz)
control_decimation: 10

kps: [
  200, 200, 200, 300, 40, 40, 
  200, 200, 200, 300, 40, 40,
  300,
  120, 120, 120, 80,
  120, 120, 120, 80
]
kds: [
  2.5, 2.5, 2.5, 4, 2, 2,
  2.5, 2.5, 2.5, 4, 2, 2,
  3,
  2, 2, 2, 1,
  2, 2, 2, 1
]

default_angles: [0, -0.4, 0.0, 0.8, -0.4, 0.0, 
                 0, -0.4, 0.0, 0.8, -0.4, 0.0,
                 0.0,
                 0.4, 0.2, 0, 0.3,
                 0.4, -0.2, 0, 0.3]

# default_angles: [0, -0.16, 0.0, 0.36, -0.2, 0.0, 
#                  0, -0.16, 0.0, 0.36, -0.2, 0.0,
#                  0.0,
#                  0.4, 0.2, 0, 0.3,
#                  0.4, -0.2, 0, 0.3]

ang_vel_scale: 0.25
dof_pos_scale: 1.0
dof_vel_scale: 0.05
action_scale: 0.25
cmd_scale: [2.0, 2.0, 0.25]

num_actions: 21
num_obs: 71

cmd_init: [0.0, 0, 0.0]
# cmd_init: [0.0, 0.0, 1.0]